<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Oracle 10.2" Language="1033" Version="1.0.0.0" Manufacturer="Oracle" UpgradeCode="b60d2dfd-8505-4f4e-9605-5fd49a330e2f">
		
		<Package InstallerVersion="011" Compressed="yes" InstallScope="perMachine" 
						 Comments="Oracle Test installer" Description="This is a package configured to install Oracle 10.2 with the recommended settings in the specific location required by Team 2 Tools."/>
		<Media Id="1" EmbedCab="yes"/>
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="Complete" Title="Oracle 10.2 Silent Installer" Level="1">
			<ComponentGroupRef Id="32bitInstaller" />
      <ComponentGroupRef Id="32bitData" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="oracle" Name="oracle">
			<Directory Id="product" Name="product">
				<Directory Id="10.2.0" Name="10.2.0">
					<Directory Id="32bit" Name="32bit">
						<Directory Id="INSTALLFOLDER" Name="OracleTest">
						</Directory>
					</Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="32bitInstaller" Directory="INSTALLFOLDER">
			<Component Id="SetupEXE" Guid="E90CD492-4F7D-4F5B-B2CA-3D2F9A2C5E66">
				<RemoveFolder Id="oracle" On="uninstall" />
				<RegistryValue Root="HKLM" Key="Software\WoW6432Node\Oracle" Type="string" Value="" KeyPath="yes"/>
        <File
						Id="SetupEXE" Name="setup.exe" DiskId="1" Source="setup.exe">
        </File>
      </Component>
      <Component Id="AutorunINF" Guid="C7F7C076-9AB8-4E4A-A02E-0D5127B656F8">
        <File
						Id="AutorunINF" Name="autorun.inf" DiskId="1" Source="autorun.inf">
        </File>
      </Component>
      <Component Id="welcomeScreen" Guid="561DCFB4-741B-42E4-94D8-A03AF8C15610">
        <File
						Id="welcome.html" Name="welcome.html" DiskId="1" Source="welcome.html">
        </File>
      </Component>
		</ComponentGroup>
    <ComponentGroup Id="32bitData" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="E90CD492-4F7D-4F5B-B2CA-3D2F9A2C5E66">
        <RemoveFolder Id="oracle" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\WoW6432Node\Oracle" Type="string" Value="" KeyPath="yes"/>
        <File
						Id="SetupEXE" Name="setup.exe" DiskId="1" Source="setup.exe">
        </File>
        <File
						Id="AutorunINF" Name="autorun.inf" DiskId="1" Source="autorun.inf">
        </File>
        <File
						Id="welcome.html" Name="welcome.html" DiskId="1" Source="welcome.html">
        </File>
      </Component>
    </ComponentGroup>
	</Fragment>

</Wix>
